/* calculator.css */
#table{
    border: black 3px solid;
}

input[type=button]{
    background-color: darkgrey;
    color:black;
    border: 2px solid black;
    width: 100%;
}


.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    color:green; 
    border: solid black 2px; 
    } 